body{
    margin: 100px;
    font-family: overpass,Arial,sans-serif;
}

.container-acceso{
    display: flex;
    width: 100%;
    height: 100%;
}

.hdr{
    width: 50%;
}

.logo-Moneda{
    /* position: relative; */
    width: 800px;
    height: 800px;
}

.acceso{
    position: relative; 
   

}

.acceso h1{
    font-size: 90px;
}
.acceso h3{
    margin-top: -65px;
    margin-left: 580px;
    font-size: 50px;
    color: green;
}

.login{
    display: flex;
    flex-direction: column;
}

.login input{
    margin: 15px;
    margin-top: 50px;
    margin-left: 130px;
    width: 550px;
    height: 50px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    background-color: #E2E0E0;
    border-radius: 50px;
    border: 1px solid #D9D9D9;
    padding: 15px;
    box-shadow: 10px 10px 10px;
    outline: none;
    text-align: left;
    cursor: pointer;
    
}

.login img{
    background-color: #FFE600 ;
    transition: background-color .7s;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(218, 165, 32);
    margin-top: 40px;
    margin-left: 350px;
   
    
} 
.login img:hover{
    cursor: pointer;
    background-color: rgba(105, 152, 167, 0.719);
    border: 5px solid #00eaff;
}

.ftr{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.call{
    display: flex;
    font-size: 20px;   
}

.ftr img{ 
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 5px;
    cursor: pointer; 
}

.rrss{
    margin: 0px 50px 0px 50px;
   
}

/* HTML Home  */

.hdr-home{
    display: flex;
    width: 100%;
}

.hdr-home img{
    width: 250px;
    height: 250px;
}
  
.hdr-home h1{
    font-size: 40px;
}

.hdr-home h3{
    color: green;
    font-size: 20px;
    margin-top: 70px;
    margin-left: -85px;
}

.welcome{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 150px;
    margin-left: -150px;
}

.main-home{
    background-color: #1F1F1F;
    color: #ffffff;
    width: 60%;
    height: 300px;
    margin-left: 20%;
    border-radius: 30px;
    text-align: center;
}

.btns-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin: 30px;
    margin-bottom: 90px;
}

.btns-home button{
    text-align: center;
    font-size: 20px;
    background-color: #a0a0a0;
    margin: 0px 160px 0px 80px;
    border-radius: 20px;
    width: 350px;
    border: 1px solid #b1b1b1;
    box-shadow: 10px 10px 10px;
}

.btns-home button:hover{
    cursor: pointer;
    background-color: #bebebe;
}
